### Importing libraries

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("./Car_Price_Prediction.csv")

### Data Cleaning

Some problems with the data

- Year has many irrelevant values
- Convert year to it
- Remove irrelevent values from Price
- Convert Price to int
- kms_driven has words 'kms'
- Convert kms_driven to int
- fuel_type has NaN values
- keep first 3 words of name

In [3]:
df1 = df.copy()

In [4]:
df = df[df['year'].str.isnumeric()]

In [5]:
df['year'] = df['year'].astype(int)

In [6]:
df = df[df['Price'] != "Ask For Price"]

In [7]:
df['Price'] = df['Price'].str.replace(',', '')
df['Price']

0       80000
1      425000
3      325000
4      575000
6      175000
        ...
886    300000
888    260000
889    390000
890    180000
891    160000
Name: Price, Length: 819, dtype: object

In [8]:
df['Price'] = df['Price'].astype(int)

In [13]:
df['kms_driven'] = df['kms_driven'].str.split(' ').str.get(0).str.replace(',', '')

In [17]:
df = df[df['kms_driven'].str.isnumeric()]

In [23]:
df['kms_driven'] = df['kms_driven'].astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 817 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        817 non-null    object
 1   company     817 non-null    object
 2   year        817 non-null    int32
 3   Price       817 non-null    int32
 4   kms_driven  817 non-null    int32
 5   fuel_type   816 non-null    object
dtypes: int32(3), object(3)
memory usage: 35.1+ KB

In [27]:
df = df[~df['fuel_type'].isna()]

In [31]:
df['name'] = df['name'].str.split(' ').str.slice(0, 3).str.join(' ')

In [33]:
df.reset_index(drop = True)

                       name   company  year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
2         Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
4                 Ford Figo      Ford  2012  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
811      Maruti Suzuki Ritz    Maruti  2011  270000       50000    Petrol
812          Tata Indica V2      Tata  2009  110000       30000    Diesel
813    Toyota Corolla Altis    Toyota  2009  300000      132000    Petrol
814            Tata Zest XM      Tata  2018  260000       27000    Diesel
815      Mahindra Quanto C8  Mahindra  2013  390000       40000    Diesel

[816 rows x 6 columns]

### Outliers Removal

In [40]:
df = df[df['Price'] < 6000000].reset_index(drop = True)

In [42]:
df.to_csv('Cleaned_Car_Data.csv')